.Article {
    position: relative;
    display: flex;
    flex-direction: column;
    .box-container {
        gap: 2rem;
        display: flex;
        flex-direction: column-reverse;
        .image-content {
            background-color: lighten($color: $color-gray, $amount: 35);
            margin-bottom: 2rem;
        }
        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h3 {
                font-size: 1.5rem;
                color: darken($color: $color-gray, $amount: 20);
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.1rem;
                color: $color-gray;
                margin-bottom: 2rem;
            }
        }
        @media (min-width: 820px) {
            flex-direction: row;
            .image-content {
                flex: 1 1 15rem;
            }
            .text-content {
                flex: 1 1 15rem;
                text-align: start;
                align-items: start;
            }
        }
    }
}