footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 5rem;
    background-color: lighten($color: $color-gray, $amount: 30);
    p {
        color: darken($color: $color-gray, $amount: 25);
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    .row {
        display: flex;
        gap: 1rem;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: $color-gray;
    color: darken($color: $color-white, $amount: 10);
    border-radius: 50%;
    padding: .4rem;
    &:hover {
        background-color: darken($color: $color-red, $amount: 20);
    }
}