.FormContact {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    .input {
      border: none;
      box-shadow: $shadow;
      padding: 0.5rem;
      font-size: 1.2rem;
      resize: none;
      &:focus {
        outline: 2px solid $color-red;
      }
    }
    .alert {
      background-color: $color-alert;
      box-shadow: $shadow;
      color: $color-white;
      font-size: 1.2rem;
      padding: 0.3rem;
      text-align: center;
      margin-top: -0.3rem;
    }
  }
  @media (min-width: 620px) {
    max-width: 40rem;
    margin: auto;
  }
}
