.Location {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 4rem 0;
        color: $color-red;
        font-weight: 400;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 4rem 0;
        color: $color-red;
        font-weight: 400;
    }
    p {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
        color: $color-gray;
        font-weight: 400; 
    }
    .box-container {
        display: flex;
        position: relative;
        background-color: $color-secondary;
        padding: 2rem;
        flex-direction: column;
        .text-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 1 1 15rem;
            p {
                font-size: 2rem;
                color: $color-white;
                margin-bottom: 1rem;
            }
        }
        .map-content {
            flex:  1 1 15rem;
        }
        @media (min-width: 820px) {
            flex-direction: row;
        }
    }
}